[buildout]
extends = eea.cfg

auto-checkout =
  eni.seis.theme
  eni.seis.content

[configuration]
eggs +=
  eni.seis.theme
  eni.seis.content
zcml +=
  eni.seis.theme-overrides

[sources]
eni.seis.theme = git https://github.com/eea/eni.seis.theme.git pushurl=git@github.com:eea/eni.seis.theme.git
eni.seis.content = git https://github.com/eea/eni.seis.content.git pushurl=git@github.com:eea/eni.seis.content.git

[versions]
webcouturier.dropdownmenu = 2.3.1
